*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Open Sans";
}

html,body{
    height: 100%;
    width: 100%;
    
}

.clear{
	clear: both;
}

.container-header{
    background-color: #4dd0e1;
    width: 100%;
    height: 200px;
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-end;
    justify-content: flex-start;
   
}

.icon-container{
    width: 50%;
    
}

.icon-header{
    margin-left: 30px;
    width: 150px;
    height: 150px;
    background-color: #b2ebf2;
   
}
.icon-header > h1{
  color: white;
  text-align: center;
  transform: translateY(100%);
}

.menu-desktop{
    width: 50%;
    color: white;
    font-weight: bold;
    
}

.menu-desktop ul {
    
    text-align: right;
    padding-right: 20%;
    text-decoration: none;
    padding-bottom: 10px;

}

.menu-desktop ul li {
    display: inline-block;
    text-align: right;
    padding: 0 20px;
    list-style-type: none;

}

.first-slider{
    height: 300px;
}

.slider{
    width: 100%;
    height: 100%;
    max-height: 500px;
    background-color: #ccc;
    margin: 0 auto;
}

.slider img{
    position: absolute;
    display: none;
    width: 100%;
    height: 300px;
    transform: translate(-50%);
    -ms-transform: translate(-50%);
    left: 50%;
}

.bullets-nav{
    position: relative;
    left: 50%;
    top: 270px;
    transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    z-index: 3;
    text-align: center;  
}

.bullets-nav span{
    width: 16px;
    height: 16px;
    border-radius: 8px;
    background-color: #ccc;
    cursor: pointer;
    margin: 0 20px;
    display: inline-block;
}
.container-about{
    display: flex;
    flex-wrap: nowrap;
    padding: 20px 0;
    width: 100%;
    
}
.info-about{
    width: 33.3%;
    border-left: 1px solid #ccc;
    margin-left: 30px;
    margin-right: 30px;
}
.info-about:nth-child(1) {
    
    border-left: 0px solid black;
}

.info-about > h1{
    text-align: center;
    color: #4dd0e1;
    
}

.info-about > p{
    text-align: center;
    margin: 20px;

    
}
.fontawesome{
    text-align: center;
    font-size: 38px;
    color: #4dd0e1;
    margin-top: 30px;
}


.parallax{
    background-image: url("../image/parallax.jpg");
    background-attachment: fixed;
    width: 100%;
    color: white;
}

.parallax > h1{
    text-align: center;
    padding-top: 20px;
}

.parallax > p {
    text-align: center;
    padding: 50px 100px;
}

.parallax2{
    background-image: url("../image/parallax2.jpg");
    background-attachment: fixed;
    width: 100%;
    color: white;
}

.parallax2 > h1{
    text-align: center;
    padding-top: 20px;
}

.parallax2 > p {
    text-align: center;
    padding: 50px 200px;
}
.services-container{
    display: flex;
    flex-wrap: nowrap;
    width: 100%; 
}

.list-of-services{
    width: 33.3%;
    border-left: 1px solid #ccc;
    margin: 20px;
}
.list-of-services:nth-child(1) {
    
    border-left: 0px solid black;
}

.list-of-services > h1{
    text-align: center;
    color: #4dd0e1;
    
}

.list-of-services > p {
    padding: 20px 30px;
}

.btn{
   width: 100%;
   max-width: 200px;
    background-color: #4dd0e1;
    border: 2px solid #ccc;
    border-radius: 20px;
    margin: 30px auto;
    text-align: center;
    cursor: pointer;
    font-weight: bold;
    color: white;
    display: block;
   
}

.contact-container{
    display: flex;
    flex-wrap: nowrap;
    background-color: white;
}

.form-contact{
    width: 50%;
    text-align: center;
    height: 400px;
    color: #4fc3f7;
}

.borda > input[type=submit]{
    color: #4fc3f7;
    background-color: white;
    font-size: 20px;
    border: 1px solid #ccc;
    width: 150px;
    cursor: pointer;
    
}

.borda > input[type=text],[type=email],textarea{
    border: 1px solid #ccc;  
}

.borda{
    border: 1px solid #4fc3f7;
    height: 350px;
    width: 300px;
    margin: 25px auto;
    border-radius: 10px;
    background-color: white;
}

.information-container{
    width: 50%;
    margin-left: 30px;
    margin-top: 80px;

}

.information-container > p{
    padding: 10px;
    text-align: justify;
    margin: 0 auto;
    color: #4fc3f7;
    font-weight: bold;
    
}


.footer-container{
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    background-color: #0277bd ;
}

.social-medias{
    width: 50%;
    padding: 50px;
    color: white;
    margin: 0 auto;
    
}

.social-medias > a{
    margin-top: 15px;
    padding: 10px;
    color: white;
}
.utilits-links{
    width: 50%;
    color: white;
    margin: 50px;
    text-align: center;
}

.utilits-links ul {
    list-style-type: none;
}

.utilits-links ul li a{
    text-decoration: none;
    color: white;
}
.final-container{
    width: 100%;
    height: 80px;
    background-color: #01579b;
    color: white;
    text-align: center;
    padding-top: 30px;
}
.menu-mobile{
    display: none;
    position: absolute;
    width: 100%;
    background-color: darkgoldenrod;
    top: 205px;
    z-index: 1;
    text-align: center;
    left: 0px;
}
@media screen and (max-width: 1490px){
  
    .info-about > h1{
        text-align: center;
        color: #4dd0e1;
        
    }
    
    .info-about > p{
        font-size: 16px;
    }
}

@media screen and (max-width: 1330px){
  
    .info-about > h1{
        font-size: 18px;
        
    }
    
    .info-about > p{
        font-size: 14px;
    }
    .list-of-services > h1 {
        padding: 10px 10px;
        font-size: 20px;
    }
    .list-of-services > p {
        padding: 10px 10px;
        font-size: 13px;
    }
    
    .parallax2 > h1{
        font-size: 20px;
    }
    
    .parallax2 > p {
       font-size: 13px;
    }
   
}
@media screen and (max-width: 846px){
    .container-about{
        flex-wrap: wrap;
        
    }
    .info-about{
        margin-top: 30px;
        width: 100%;
        border-left: 0px solid #ccc;
    }
    
    .parallax > p {
        text-align: center;
        padding: 50px 20px;
        font-size: 13px;
    }
    .services-container{
        flex-wrap: wrap;
    }
    .list-of-services{
        width: 100%;
        border-left: 0px solid #ccc;
    }

 
    
    .list-of-services > p {
        padding: 10px 10px;
    }
    .btn{
        margin: 10px auto;
    }
    .parallax2{
        background-image: url("../image/parallax2.jpg");
        background-attachment: fixed;
        width: 100%;
        color: white;
    }
    
    
    .parallax2 > p {
        
        padding: 50px 0px;
    }
    .information-container{
        display: none;
    }
 
    .form-contact{
        margin: 0 auto;
    
    }

    /* daqui pra baixo */ 
    .footer-container{
        flex-wrap: wrap;
       
    }
    
    .social-medias{
        width: 100%; 
    }
    
    .utilits-links{
        text-align: left;
    }
    
.container-header{

    flex-wrap: wrap;
   
   
}
    .menu-mobile{
        display: block;
       
    }
    .menu-desktop{
        display: none;
       
    }


}



